[Desktop Entry]
Version=1.0
Type=Application

Name[bg]=Pika Backup
Name[ca]=Pika Backup
Name[cs]=Zálohování Pišťucha
Name[da]=Pika Backup
Name[de]=Pika Datensicherung
Name[el]=Αντίγραφα ασφαλείας Pika
Name[en_GB]=Pika Backup
Name[eo]=Pika Sekurkopio
Name[es]=Copia de respaldo Pika
Name[eu]=Pika Backup
Name[fa]=پشتیبان پیکا
Name[fi]=Pika-varmuuskopiointi
Name[fr]=Sauvegarde Pika
Name[gl]=Copia de respaldo Pika
Name[he]=גיבוי פיקה
Name[hi]=पिका बैकअप
Name[hr]=Pika sigurnosno kopiranje
Name[hu]=Pika biztonsági mentés
Name[id]=Pika Backup
Name[is]=Pika-öryggisafritun
Name[it]=Pika Backup
Name[ka]=Pika Backup
Name[kk]=Pika Backup
Name[ko]=피카 백업
Name[nl]=Pika Back-up
Name[oc]=Pika Backup
Name[pl]=Kopie zapasowe Pika
Name[pt]=Pika Backup
Name[pt_BR]=Pika Backup
Name[ro]=Pika Backup
Name[ru]=Pika Backup
Name[sl]=Varnostno kopiranje Pika
Name[sr]=Пика резерва
Name[sv]=Pika Backup
Name[tr]=Pika Yedek
Name[uk]=Пискуха-копіювання
Name[vi]=Sao lưu dự phòng Pika
Name[zh_CN]=Pika 备份
Name=Pika Backup
GenericName[bg]=Резервни копия
GenericName[ca]=Còpies de seguretat
GenericName[cs]=Zálohy
GenericName[da]=Sikkerhedskopier
GenericName[de]=Datensicherungen
GenericName[el]=Αντίγραφα ασφαλείας
GenericName[en_GB]=Backups
GenericName[eo]=Sekurkopioj
GenericName[es]=Respaldos
GenericName[eu]=Babeskopiak
GenericName[fa]=پشتیبان‌ها
GenericName[fi]=Varmuuskopiot
GenericName[fr]=Sauvegardes
GenericName[gl]=Copias de respaldo
GenericName[he]=גיבויים
GenericName[hi]=बैकअप
GenericName[hr]=Sigurnosno kopiranje
GenericName[hu]=Biztonsági mentések
GenericName[id]=Cadangan
GenericName[is]=Öryggisafrit
GenericName[it]=Backup
GenericName[ka]=მარქაფები
GenericName[kk]=Резервтік көшірмелер
GenericName[ko]=백업
GenericName[nl]=Back-ups
GenericName[oc]=Salvaments
GenericName[pl]=Kopie zapasowe
GenericName[pt]=Backups
GenericName[pt_BR]=Backups
GenericName[ro]=Copii de rezervă
GenericName[ru]=Резервные копии
GenericName[sl]=Varnostne kopije
GenericName[sr]=Резерве
GenericName[sv]=Säkerhetskopior
GenericName[tr]=Yedekler
GenericName[uk]=Резервні копії
GenericName[vi]=Sao lưu dự phòng
GenericName[zh_CN]=备份
GenericName=Backups
Comment[bg]=Пазете данните си в безопасност
Comment[ca]=Mantingueu les vostres dades segures
Comment[cs]=Udržujte svá data v bezpečí
Comment[da]=Hold dine data sikre
Comment[de]=Bewahren Sie Ihre Daten sicher auf
Comment[el]=Διατηρήστε τα δεδομένα σας ασφαλή
Comment[en_GB]=Keep your data safe
Comment[eo]=Konservu viajn datumojn sekuraj
Comment[es]=Mantenga sus datos a salvo
Comment[eu]=Gorde zure datuak seguru
Comment[fa]=امن نگه داشتن داده‌هایتان
Comment[fi]=Pidä tietosi turvassa
Comment[fr]=Protégez vos données
Comment[he]=שמירה על הנתונים שלך
Comment[hi]=अपना डेटा सुरक्षित रखें
Comment[hr]=Držite svoje podatke sigurnima
Comment[hu]=Tartsa biztonságban az adatait
Comment[id]=Menjaga keamanan data Anda
Comment[is]=Gættu að gögnum þínum
Comment[it]=Tieni i tuoi dati al sicuro
Comment[ka]=დაიცავით თქვენი მონაცემები
Comment[kk]=Деректеріңізді қауіпсіз сақтаңыз
Comment[ko]=데이터를 안전하게 보호합니다
Comment[nl]=Houd uw gegevens veilig
Comment[pl]=Zabezpiecz swoje dane
Comment[pt]=Mantenha os seus dados seguros
Comment[pt_BR]=Mantenha seus dados seguros
Comment[ro]=Păstrați-vă datele în siguranță
Comment[ru]=Обеспечьте сохранность своих данных
Comment[sl]=Zavarujte svoje podatke
Comment[sr]=Држите ваше поддатке на безбедном месту
Comment[sv]=Håll dina data säkra
Comment[tr]=Verilerini güvende tut
Comment[uk]=Зберігайте ваші дані у безпеці
Comment[vi]=Giữ dữ liệu của bạn được an toàn
Comment[zh_CN]=保护您的数据安全
Comment=Keep your data safe
Categories=Utility;Archiving;GTK;GNOME

# Translators: Do not translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.World.PikaBackup
Exec=pika-backup
Keywords[bg]=архив;резерва;резервно;копие;бекъп;борг;archive;back-up;borg;
Keywords[ca]=arxiu;còpia de seguretat;borg;
Keywords[cs]=archiv;archivy;archivovat;záloha;zálohy;zálohovat;borg;
Keywords[da]=arkivér;arkivering;sikkerhedskopiér;sikkerhedskopiering;borg;
Keywords[de]=archive;back-up;borg;Archiv;Datensicherung;
Keywords[el]=αρχείο;αντίγραφο-ασφαλείας;αντιγράφων-ασφαλείας;borg;
Keywords[en_GB]=archive;back-up;borg;
Keywords[eo]=arkivo;sekurkopio;borg;
Keywords[es]=archivador;respaldo;borg;
Keywords[eu]=artxiboa;babeskopia;borg;
Keywords[fa]=archive;back-up;borg;بایگانی;پشتیبان;بورگ;
Keywords[fi]=archive;back-up;borg;arkisto;varmuuskopio;
Keywords[fr]=archive;sauvegarde;borg;
Keywords[gl]=arquivo;respaldo;borg;
Keywords[he]=ארכיון;גיבוי;בורג;
Keywords[hi]=पुरालेख;बैक-अप;बोर्ग;
Keywords[hr]=arhiva;sigurnosno kopiraj;borg;
Keywords[hu]=archiválás;biztonsági mentés;borg;
Keywords[id]=arsip;cadangan;borg;
Keywords[is]=safnskrá;öryggisafrit;borg;
Keywords[it]=archivio;archiviazione;backup;borg;
Keywords[ka]=archive;back-up;borg;
Keywords[kk]=архив;резервтік көшірме;borg;
Keywords[ko]=archive;아카이브;보관;back-up;백업;borg;보그;
Keywords[nl]=archive;back-up;borg;archief;archiveren;backup;reserverkopieën;
Keywords[pl]=archiwum;archiwizowanie;archiwizuj;archive;kopia zapasowa;bekap;backup;back-up;borg;
Keywords[pt]=archive;back-up;borg;arquivar;backup;cópia de segurança;
Keywords[pt_BR]=archive;back-up;borg;arquivamento;backup;cópia de segurança;Cópia de segurança;
Keywords[ro]=archive;back-up;borg;copie-de-rezervă;arhivă;
Keywords[ru]=archive;back-up;borg;архив;резервная;копия;
Keywords[sl]=archive;back-up;borg;arhiv;varnostna kopija;bekap;shranjevanje;
Keywords[sr]=архива;резерва;борг;archive;back-up;borg;
Keywords[sv]=arkiv;säkerhetskopia;säkerhetskopiering;borg;
Keywords[tr]=Pika Backup;archive;back-up;borg;backup;pika;arşiv;yedek;
Keywords[uk]=archive;back-up;borg;архів;архівування;резервна копія;копіювання;борг;борґ;
Keywords[vi]=archive;back-up;borg;lưu trữ;luu tru;sao lưu dự phòng;sao luu du phong;
Keywords[zh_CN]=archive;back-up;borg;归档;存档;备份;
Keywords=archive;back-up;borg;
DBusActivatable=true
StartupNotify=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
